/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a green background color for the body */
body {
    background-color: #a1e2a3; /* Green color */
    color: white;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Style headings */
h1, h2 {
    color:#333; /* Green color */
}

/* Create a container for content */
.container {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#contactDIV{
    background-color: rgb(238, 215, 87);
    color: white;
   
 
}

/* Style links */
a {
    color: rgb(65, 65, 189); /* Green color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Style lists */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Style list items */
li {
    margin-bottom: 8px;
}

/* Style contact info */
#contact ul {
    list-style-type: none;
    margin: 10px;
}
#internships ul, #employment ul, #education ul, #courses ul, #languages ul , #docs ul{
    list-style-type: disc;
    margin: 10px;
}

/* Style skills */
#skills ul {
    list-style-type: disc;
    columns: 2;
    margin: 10px;
}
#githubP{
    margin: 10px;
}

/* Style the profile image */
.rounded-image {
    width: 7%; /* Set the desired width */
    height: 10%; /* Set the desired height */
    border-radius: 50%; /* Makes the image round (50% of width/height) */
    margin: 10px;
}







